# Configuration files
public/config/config.production.php
public/config/config.development.php

# Environment files
.env
.env.*

# Logs
*.log
public/php_errors.log

# IDE files
.idea/
.vscode/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# Dependencies
/vendor/
node_modules/

# Build files
/dist/
/build/

__pycache__/
*.pyc 